*{
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    --mainblue:#6C63FF ;
    --secondeblue:#4F46E5;
    --textcolor:#0F172B;
    --textgrey:#64748B;
    --textdarkgrey:#475569;
    --backgroundbox:#F2F5FF;
    --backgroundremarque:#EFF6FF;
    --bordercardcolor:#C7D2FE;
}
nav{
    height: 60px;
    display: flex;
    justify-content: space-around;
    padding: 5px 45px 5px 35px;
    align-items: center;
    backdrop-filter: blur(7px);
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
.nav_op{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--textcolor);
    backdrop-filter: blur(10px);
  }
.nav_op:hover , .active{
    color: var(--secondeblue) ;
}
.login{
       font-size: 16px;
       font-weight: 600;
       margin: 15px;
       text-decoration: none;
       color: var(--textcolor);
}
.ulApp{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 30%;
    margin:auto ;
    z-index: 1;
}
.brand{
    width: 195px;
    height: 40px;
    margin: 15px;
    margin: 10px;
}
.getStartedBtnNav{
    font-size: 15px;
    padding: 5px;
    border-radius: 30px;
    border: none;
    width: 120px;
    height: 40px;
    margin: 15px;
    background: rgb(134,63,235);
    background: linear-gradient(166deg, rgba(134,63,235,1) 0%, rgba(73,118,244,1) 100%);
    color: white;
  }